/* CSS styles for Harfen page */
.harfenImage {
  filter: blur(3px);
  transition: filter 0.3s;
}

.harfenImage:hover {
  filter: none;
}

.supertest {
  background-image: url("../images/harfen/wyda1.jpg");
  background-size: cover;
  background-position-y: center;
  width: 400px;
  height: 500px;
}
