.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #ff4d2f;
  border-radius: 4px;
}

.image-gallery-thumbnail:hover {
  outline: none;
  border: 4px solid #ff4d2f;
  border-radius: 4px;
}

.image-gallery-icon:hover {
  color: #ff4d2f;
}

/* Targets arrows */
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 70px;
}

/* Targets fullscreen button */
.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 24px;
  width: 24px;
}

/* Targets image size */
.image-gallery-slide .image-gallery-image {
  width: 577px;
  height: 400px;
}
