---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  lang: "de" | "en";
  canonicalPath: string;
}

const { title, description, lang, canonicalPath } = Astro.props;
const canonicalURL = new URL(canonicalPath, Astro.site);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href={canonicalURL.toString()} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <title>{title}</title>
  </head>
  <body class="bg-background min-h-screen min-w-min font-sans">
    <slot />
  </body>
</html>
